body {
  background: #bca3ca;
  font-family: monospace;
  line-height: 1.8;
}

a {
  color: #4a0e5c;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: underline;
}

.container {
  background-color: rgb(244, 236, 247);
  padding: 10px 40px;
  max-width: 600px;
  margin: 120px auto;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header {
  padding: 10px;
  margin-bottom: 10px;
}
h1 {
  margin: 30px;
  text-align: center;
  font-size: 34px;
}
form {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
}

.topic-input {
  padding: 10px;
  width: 60%;
  border-radius: 5px 1px 1px 5px;
  border: 1.5px solid #4a0e5c;
}

.topic-submit {
  padding: 15px 22px;
  background: #7c4789;
  color: #fff;
  border-radius: 1px 5px 5px 1px;
  border: 1.5px solid #4a0e5c;
}

.topic-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
.poem {
  margin: 50px 70px;
  font-size: 18px;
}
em {
  color: #4a0e5c;
}
footer {
  margin-bottom: 15px;
  text-align: center;
}
